* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(179,174,174,1) 0%, rgba(223,213,213,1) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80vw;
    height: 50vh;
    max-width: 800px;
    background-color: black;
    min-height: 525px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    padding: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.219);
}

.hidden {
    display: none;
}

.jogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60%;
}

.vidas {
    display: flex;
    clear: both;
    text-align: right;
    flex-direction: row-reverse;
    max-width: 150px;
    flex-wrap: wrap;
}

.vidas > img {
    width: 30px;
    user-select: none;
}

.numero {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: black;
    width: 25%;
    height: 50%;
    font-size: 4.5em;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.219);
    flex-grow: 1;
    overflow: scroll;
}

.adivinhar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.219);
    width: 48%;
    height: 50%;
    float: right;
}

.dicas {
    clear: both;
    display: flex;
    overflow: scroll;
    height: 100px;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.219);
}

.msg {
    display: inline-block;
    width: 100px;
}

.msg-dica {
    display: inline;
    padding: 5px;
}

.extra {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,228,166,1) 0%, rgba(0,212,255,1) 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.219);
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    color: white;
    text-decoration: underline;
}

.btn:disabled, button[disabled=disabled] {
    background: rgb(212, 212, 212);
    color: rgb(146, 146, 146);
}

.btn:disabled:hover, button:hover[disabled=disabled] {
    text-decoration: none;
    cursor:default
}

input {
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.37);
    /* border: rgba(0, 0, 0, 0.219) 1px solid; */
    height: 25px;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
}

input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.479);
}

.extra > button {
    margin-top: 15px;
}

#btn-reiniciar {
    display: none;
}

@media screen and (max-width: 400px) {
    .hidden {
        display: block;
    }

    .vidas > img {
        width: 20px;
    }

    input {
        width: 70px;
    }

    main {
        min-height: 600px;
    }
}

