* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80vw;
    height: 50vh;
    max-width: 800px;
    border: 1px solid black;
    padding: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
}

.jogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60%;
}

.vidas {
    display: flex;
    clear: both;
    text-align: right;
    flex-direction: row-reverse;
    max-width: 150px;
    flex-wrap: wrap;
}

.vidas > img {
    width: 30px;
    user-select: none;
}

.numero {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 25%;
    height: 50%;
    font-size: 4.5em;
    text-align: center;
    border: 1px solid black;
    flex-grow: 1;
    overflow: scroll;
}

.adivinhar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 48%;
    height: 50%;
    float: right;
}

.dicas {
    clear: both;
    padding: 5px;
    border: 1px solid black;
}

